# Ignorišemo env fajlove
.env

# Ignorišemo pycache i .pyc fajlove globalno
__pycache__/
*.pyc

# Ignorišemo backend pycache rekurzivno
backend/**/__pycache__/

# Ignorišemo virtuelno okruženje
venv/

# Ignorišemo celu bazu (ako ne želiš da se šalje u git)
baza/

# Frontend
client/package-lock.json

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage/

# production
client/build/

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
