Flask
Werkzeug
Flask-Login
Flask-Cors
Flask-Babel
Flask-SQLAlchemy
Flask-Mail
Flask-Moment
Flask-WTF
Flask-Bcrypt
Flask-Session
Flask-SocketIO
SQLAlchemy
Jinja2
WTForms
PyJWT
bcrypt
psycopg2-binary
python-dateutil
Babel
simple-websocket
blinker
click
itsdangerous
MarkupSafe
python-engineio
python-socketio
six
